.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  min-height: 100%;
  transition: all 2s ease;
}
.containerDark {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  color: white;
  min-height: 100%;
  transition: all 2s ease;
}
