.header {
  min-height: 80px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}
.headerDark {
  min-height: 80px;
  background-color: rgba(0, 0, 0, 0.47);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex-direction: row;
}
.themeButton {
  align-content: center;
}
.cartButton {
  align-content: center;
}
.logIn {
  display: flex;
  gap: 20px;
}
.logIn__button {
  align-content: center;
}

.logIn__name {
  align-content: center;
}
.logo {
}
.cart {
  align-content: center;
  display: inline-block;
}

.cart:hover .cartList {
  display: block;
}
.cartList {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
}
.cartButton:hover {
  cursor: pointer;
}
